<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>Meu Histórico</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Voltar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="text-align: center;" mode="ios" [ngClass]="{'conteudo': !auth.isMobile}">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Meu Histórico</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header *ngIf="minhasNegociacoes.length <= 0">
      <ion-card-title>Nenhum Registro Encontrado</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-list inset="true" *ngFor="let item of minhasNegociacoes">
    <ion-item color="light" (click)="goToHistoricoDetalhe(item.seq_lote_alteracao, item.cod_empresa, item.ind_excluido)">
      <ion-chip slot="end" style="right: 15px;" color="success">{{item.dta_inclusao | date: 'dd/MM/yyyy'}} </ion-chip>
      <ion-label>
        <h2>{{item.nom_fantasia}}</h2>
        <p>Lote {{item.des_observacao}}></p>
        <p>{{item.total_registros}} Registros Processados</p>
        <p><b *ngIf="item.ind_excluido === 'N' && item.ind_status === 'T'" style="color: lightgreen;">Aprovado</b></p>
        <p><b *ngIf="item.ind_excluido === 'S' && item.ind_status === 'X'" style="color: lightcoral;">Reprovado</b></p>
        <p><b *ngIf="item.ind_excluido === 'N' && item.ind_status === 'X'" style="color: orange;">Pendente</b></p>
        <ion-note *ngIf="item.ind_excluido === 'S' && item.ind_status !== 'X'" color="danger">Esta Regra foi Excluída</ion-note>
      </ion-label>
      <ion-icon name="chevron-forward-outline" size="small" slot="end" ></ion-icon>
    </ion-item>
    <ion-progress-bar *ngIf="item.ind_excluido === 'N' && item.ind_status === 'X'" mode="ios" type="determinate" [value]="item.progresso / item.total" color="primary"></ion-progress-bar>
  </ion-list>

</ion-content>
