// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// Importar cores personalizadas
@import "./colors.scss";

/** Ionic CSS Variables **/
:root {
  /** primary - Roxo escuro (#24024b) **/
  --ion-color-primary: #24024b;
  --ion-color-primary-rgb: 36, 2, 75;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1f0242;
  --ion-color-primary-tint: #3a1b5d;

  /** secondary - Roxo médio (#4a0e78) **/
  --ion-color-secondary: #4a0e78;
  --ion-color-secondary-rgb: 74, 14, 120;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #410c6a;
  --ion-color-secondary-tint: #5c2686;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success - Verde (#059669) **/
  --ion-color-success: #059669;
  --ion-color-success-rgb: 5, 150, 105;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #04845c;
  --ion-color-success-tint: #1ea078;

  /** warning - Laranja (#d97706) **/
  --ion-color-warning: #d97706;
  --ion-color-warning-rgb: 217, 119, 6;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #bf6905;
  --ion-color-warning-tint: #dd851f;

  /** danger - Vermelho (#dc2626) **/
  --ion-color-danger: #dc2626;
  --ion-color-danger-rgb: 220, 38, 38;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #c22121;
  --ion-color-danger-tint: #e03c3c;

  /** dark **/
  --ion-color-dark: #1a1a2e;
  --ion-color-dark-rgb: 26, 26, 46;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #171728;
  --ion-color-dark-tint: #313143;

  /** medium **/
  --ion-color-medium: #9ca3af;
  --ion-color-medium-rgb: 156, 163, 175;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #898f9a;
  --ion-color-medium-tint: #a6acb7;

  /** light **/
  --ion-color-light: #f3f4f6;
  --ion-color-light-rgb: 243, 244, 246;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d6d7d8;
  --ion-color-light-tint: #f4f5f7;

  /** Customizações do tema **/
  --ion-background-color: #24024b;
  --ion-text-color: #1f2937;
  --ion-card-background: rgba(255, 255, 255, 0.95);
}
