cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.conteudo {
  width: 600px; /* Largura fixa desejada */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}
